@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

body {
    background-color: #102B47;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

p, h1 {
    margin: 0;
}

h2 {
    font-size: clamp(1.5rem, 5vw, 2rem);
}

h3 {
    font-size: clamp(1.2rem, 5vw, 1.5rem);
}

p {
    font-size: clamp(1rem, 5vw, 1.2rem);
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

/* home 2 */
.svg-container {
    position: absolute;
    bottom: 405px; 
    left: 479px; 
    z-index: 10000;
}


.shipwreckhome {
    margin: 0;
    padding: 0;
    background-image: url('./shipwreckhome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #F5F5F5;
}

.home-title {
    font-family: 'Luxurious Script', cursive;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.home-subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    z-index: 1;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.explore-link {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    transition: all 350ms ease-in-out;
}

.explore-link:hover {
    transition: all 350ms ease-in-out;
    transform: translateX(10px);
}

.explore-link > h3 {
    color: #90BEC5;
    font-weight: 500;
    margin: 0;
}

.border {
    height: 90px;
    width: 300px;
    border-radius: 0px 0px 28px 28px;
    background-color: #90BEC5;
    bottom: 0;
    position: absolute;
}

.image-container {
    width: 100%;
    height: 100%;
    background-image: url("./SeraphimShoresMap.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.title-container {
    position: absolute;
    right: 90px;
    bottom: 5px;
}


.map-title {
    color: #3E342A;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;

}

.map-main-title {
    color: #F5F5F5;
    text-shadow: 0px 6px 6px rgba(245, 245, 245, 0.47);
    font-family: Luxurious Script;
    opacity: 35%;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    transform: translate(0, -17%);
}

.image-container > a 
{
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Luxurious Script;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    transition: all 300ms ease-in-out;
}

.image-container > a:hover
{
    scale: 1.2;
    transition: all 300ms ease-in-out;
    z-index: 100;
}

.parallax-container {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#sky-svg {
    position: fixed;
    top: 45px;
    left: 200px;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 100px;
    width: 27px;
    height: 27px;
    z-index: 1000;
}

#ocean-svg {
    position: fixed;
    top: 270px;
    left: 530px;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 100px;
    width: 27px;
    height: 27px;
    z-index: 1000;
}

 #boat-svg {
    position: fixed;
    top: 165px;
    left: 1375px;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 100px;
    width: 27px;
    height: 27px;
    z-index: 1000;
}
    
#siren-svg {
    position: fixed;
    bottom: 400px;
    left: 1000px;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 100px;
    z-index: 1000;
}

.parallax-bg {
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 140%;
    transition: transform 0.5s;
    transform-origin: left top;
}

.parallax-bg img {
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* entry 4 */
.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.game-box {
    position: relative;
    flex: 1;
}

.game-box img {
    position: absolute;
}

.instruction-box {
    width: 530px;
    height: 200px;
    border-radius: 12px;
    background: rgba(61, 89, 76, 0.70);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    position: absolute;
    bottom: 40px; 
    left: 40px; 
}

.instruction-box h3 {
    color: #f5f5f5;
    position: absolute;
    bottom: 110px; 
    left: 40px; 
}